{% extends "base.html" %}

{% block content %}

<!-- 警告区 -->
{% if error %}
<div class="alert alert-danger" role="alert">
    <h4 class="alert-danger">警告!</h4>
    <p>{{ error }}</p>
</div>
{% endif %}


<!-- 用户信息 -->
<div class="row">
    <!-- 用户名 -->
    <h3 class="col-sm-10">
        <a href="/user/info?uid={{ weibo.user.id }}">
            <span class="text-primary">{{ weibo.user.nickname }}</span>
        </a>
        ：
    </h3>

    <!-- 编辑、删除链接 -->
    {% if 'uid' in session and session['uid'] == weibo.uid %}
    <div class="col-sm-2 text-right" style="padding-top: 20px;">
        <a class="badge badge-primary" href="/weibo/edit?wid={{ weibo.id }}">编辑</a>
        <a class="badge badge-danger" href="/weibo/delete?wid={{ weibo.id }}">删除</a>
    </div>
    {% endif %}
</div>

<!-- 微博内容 -->
<div class="alert alert-primary">
    {{ weibo.content | replace('\n', '<br>') | safe }}
</div>

<!-- 微博状态 -->
<div class="text-right transparent-bg">
    {{ weibo.created }} |
    {% if is_liked %}
    <a href="/weibo/like?wid={{ weibo.id }}&from={{ request.full_path }}">取消点赞 {{weibo.n_like}}</a>
    {% else %}
    <a href="/weibo/like?wid={{ weibo.id }}&from={{ request.full_path }}">点赞 {{weibo.n_like}}</a>
    {% endif %}
</div>

<!-- 评论框 -->
<div class="col-sm-12">
    <form action="/comment/post" method="POST">
        <div class="form-group">
            <label>评论区</label>
            <div class="text-right">
                <textarea class="form-control" name="content" rows="3" placeholder="请在此评论"></textarea>
            </div>
        </div>

        <input type="hidden" name="wid" value="{{ weibo.id }}">

        <div class="text-right">
            <button type="submit" class="btn btn-primary btn-sm">发表评论</button>
        </div>
    </form>
</div>

<div>&nbsp;</div>  <!-- 占位 -->

<!-- 评论内容 -->
{% for cmt in comments %}

<div class="panel panel-default">
    <div class="panel-heading">
        {% if cmt.cid == 0 %}
            <!-- 一级评论的处理 -->
            <a href="/user/info?uid={{ cmt.uid }}">
                <span class="text-info"">{{ cmt.user.nickname }}</span>:
            </a>
        {% else %}
            <!-- 评论回复的处理 -->
            <a href="/user/info?uid={{ cmt.uid }}">{{ cmt.user.nickname }}</a>
            对
            <a href="/user/info?uid={{ cmt.reply_comment.uid }}">{{ cmt.reply_comment.user.nickname }}</a>
            说:
        {% endif %}
    </div>

    <div class="panel-body">
        <div class="col-sm-7">
            {{ cmt.content }}
            <br>
            <br>
            <div class="text-gray">{{ cmt.created }}</div>
        </div>

        {% if 'uid' in session and session['uid'] == cmt.uid %}
        <div class="col-sm-2 text-right">
          <a class="text-danger" href="/comment/delete?cid={{ cmt.id }}">删除</a>
        </div>
        {% endif %}

        <!-- 回复框 -->
        <form class="form-inline col-sm-5 text-right" action="/comment/post" method="POST">
            <div class="form-group">
                <input class="form-control input-sm" type="text" name="content">
            </div>

            <input type="hidden" name="wid" value="{{ cmt.wid }}">
            <input type="hidden" name="cid" value="{{ cmt.id }}">

            <button class="btn btn-info btn-sm">回复</button>
        </form>
    </div>
</div>


{% if not loop.last %}<hr>{% endif %}

{% endfor %}

{% endblock %}
