{% extends "base.html" %}

{% block content %}

<div class="row">
    <!-- 用户名 -->
    <h3 class="col-sm-10">
        <a href="/user/info?uid={{ weibo.user.id }}">
            <span class="text-primary">{{ weibo.user.nickname }}</span>
        </a>
        ：
    </h3>

    <!-- 编辑、删除链接 -->
    {% if 'uid' in session and session['uid'] == weibo.uid %}
    <div class="col-sm-2 text-right" style="padding-top: 20px;">
        <a class="badge badge-primary" href="/weibo/edit?wid={{ weibo.id }}">编辑</a>
        <a class="badge badge-danger" href="/weibo/delete?wid={{ weibo.id }}">删除</a>
    </div>
    {% endif %}
</div>

<!-- 微博内容 -->
<div class="alert alert-primary">
    {{ weibo.content | replace('\n', '<br>') | safe }}
</div>

<!-- 微博状态 -->
<div class="text-right transparent-bg">
    {{ weibo.created }}
</div>


{% endblock %}
