{% extends "base.html" %}

{% block content %}

<h2>粉丝列表</h2>
<hr>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>昵称</th>
            <th>性别</th>
            <th>生日</th>
            <th>城市</th>
        </tr>
    </thead>

    <tbody>
        {% for user in followee %}
        <tr>
            <td><a href="/user/info?uid={{ user.id }}">{{ user.nickname }}</a></td>
            <td>{{ '小哥哥' if user.gender == 'male' else '小姐姐' }}</td>
            <td>{{ user.birthday }}</td>
            <td>{{ user.city }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
