{% extends "base.html" %}

<!-- 内容区 -->
{% block content %}

<h2>用户信息</h2>
<hr>

<div class="jumbotron transparent-bg">

    <img src="{{ user.avatar }}" width="200px">

    <br>
    <br>

    <ul class="list-group list-group-flush">
        <li class="list-group-item item">
            昵称：{{ user.nickname }}
            &nbsp;&nbsp;&nbsp;
            <!-- 用户已登陆，且当前页面是在查看别人的信息时，显示下面链接 -->
            {% if 'uid' in session and session['uid'] != user.id %}
                {% if is_followed %}
                <a class="text-danger" href="/user/follow?fid={{user.id}}">取消关注</a>
                {% else %}
                <a class="text-primary" href="/user/follow?fid={{user.id}}">关注</a>
                {% endif %}
            {% endif %}
        </li>
        <li class="list-group-item item">性别：
            {% if user.gender == 'male' %}
                小哥哥
            {% elif user.gender == 'female' %}
                小姐姐
            {% else %}
                你猜
            {% endif %}
        </li>
        <li class="list-group-item item">生日：{{ user.birthday }}</li>
        <li class="list-group-item item">城市：{{ user.city }}</li>
        <li class="list-group-item item">简介：{{ user.bio or "这家伙很懒，什么都没留下" }}</li>
    </ul>
</div>

{% endblock %}
